<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Milo's Hamming Distance Checker</title>
  <!-- put a stylesheet here -->
</head>
<body>
  <p>
  <% if(locals.escapedoutput) { %>
    <div>
            <b><%- locals.escapedoutput %></b>
    </div>
  <% } %>
  <p>
  <form method="post" name="myform" action="/hamming" enctype="multipart/form-data">
    <div>
      <label for="text"> Enter permutation array here:</label><br>
      <textarea rows=40 cols=40 id="text" name="text"></textarea>
    </div>
    <p>
    <div>
      <label for="file"> Or file input:</label><br>
      <input type="file" value="Upload" name ="file">
    </div>
    <p>
    <div>
      <label for="maxhd"> Claimed Hamming distance:</label>
      <input type="number" name="maxhd">
    <div>
      <button>Verify Hamming Distance</button>
    </div>
  </form>
  <p>
  Note: For large files, please provide your claim as to the Hamming distance. The program runs much faster when it can just prove or disprove this claim.
</body>
</html>
